@import '../../../assets/styles/_variables.scss';

.score {
  background-color: $grey-bg;
  grid-area: score;
  border-radius: 5px;
  position: relative;

  &-title {
    position: absolute;
    top: 25px;
    left: 30px;
    font-size: 17px;
    font-weight: 500;
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    z-index: 1000;

    &Value {
      font-size: 28px;
      margin-bottom: 5px;
    }

    &Text {
      font-size: 16px;
      color: $grey-text;
      text-align: center;
    }
  }
}