@import '../../../assets/styles/_variables.scss';

.activity {
  grid-area: activity;
  background-color: $grey-bg;
  border-radius: 5px;
  padding: 40px 22px 30px;

  &-topContent {
    position: relative;
    top: -15px;
  }

  &-title {
    margin: 0;
    padding: 0;
  }

  &-tooltip {
    &Container {
      display: flex;
      flex-direction: column;
      background-color: $red;
      font-size: 12px;
      padding: 9px 7px;
      color: $white;
    }

    &Item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
    }
  }

  .legend {
    list-style: none;
    display: flex;
    justify-content: flex-end;

    li {
      position: relative;
      margin-left: 25px;
      color: $grey-text;

      &::before {
        content: '';
        position: absolute;
        left: -16px;
        top: 6px;
        height: 8px;
        width: 8px;
        border-radius: 100%;
      }
    }

    :first-child::before {
      background-color: $red;
    }

    :nth-child(2)::before {
      background-color: $black;
    }
  }
}
