@import '../../assets/styles/_variables.scss';

.dashboardContainer {
  display: grid;
  max-height: calc(100% - 90px);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  grid-template-areas: 
    "activity activity activity statBar"
    "activity activity activity statBar"
    "objectif performance score statBar"
    "objectif performance score statBar";
}