@import '../../../../assets/styles/_variables.scss';

.statCard {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  background-color: $grey-bg;
  border-radius: 5px;
  padding: 15px;
  margin-right: 10px;

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: fit-content;
    border-radius: 6px;

    &.calories {
      background-color: $red-bg;
    }

    &.proteines {
      background-color: $blue-bg;
    }

    &.glucides {
      background-color: $yellow-bg;
    }

    &.lipides {
      background-color: $pink-bg;
    }
  }

  &-type {
    text-transform: capitalize;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
  }
  
  &-value {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
  }

  &-type {
    font-size: 14px;
  }

  &:last-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1150px) {
  .statCard {
    flex: 0 1;
    padding: 30px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-height: 650px) {
  .statCard {
    flex: 1 1;
    padding: 15px;
  }
}
