@import '../../assets/styles/_variables.scss';

main {
  grid-area: content;
  min-height: 100vh;
  max-width: 1200px;
  padding: 0 2em;

  h1 {
    font-size: 48px;
    padding-bottom: 15px;
    padding-top: 25px;
    margin: 0;

    .firstname {
      color: $red;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 50px;
    margin: 0;
  }
}
