@import '../../assets/styles/_variables.scss';

main {
  height: calc(100vh - 90px);
  padding: 0px 2em;
  margin: 0px 0 0px 110px;

  h1 {
    font-size: 48px;
    padding-bottom: 30px;
    padding-top: 40px;
    margin: 0;

    .firstname {
      color: $red;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 50px;
    margin: 0;
  }
}
