$red: #FF0000;
$red-bg: rgba(255, 0, 0, 0.07);
$blue: #4AB8FF;
$blue-bg: rgba(74, 184, 255, 0.1);
$yellow: #FDCC0C;
$yellow-bg: rgba(253, 204, 12, 0.1);
$pink: #FD5181;
$pink-bg: rgba(253, 81, 129, 0.1);

$grey-bg: #FBFBFB;
$grey-dark: #282D30;
$grey-text: rgba(97	101	121);

$black: rgba(2, 2, 3, 1);
$white: rgba(255, 255, 255, 1);

$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
